* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    border: 2px solid black;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(155, 130, 130);
    color: rgb(63, 8, 63);
}

section {
    border: 2px solid seagreen;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
}

section .delBtn {
    width: 10%;
    height: 100%;
    background-color: rgb(167, 39, 39);
    position: absolute;
    right: 1px;
    bottom: 0px;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

section .editBtn {
    width: 9%;
    height: 100%;
    background-color: rgb(192, 206, 68);
    position: absolute;
    /* right: 42px; */
    transform: translateX(871%);
    bottom: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

section .addItem {
    height: 70px;
    margin: 20px;
}

section #newTask {
    height: 30px;
    width: 25vw;
}

section button {
    height: 30px;
    width: 70px;
}

section ul {
    background-color: rgb(85, 164, 228);
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section li {
    width: 40vw;
    list-style-type: none;
    background-color: coral;
    height: 30px;
    margin-top: 5px;
    border-radius: 10px;
    padding: 8px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: end;
}